.calc{
    transform: translate(50%,50%);
    width: 250px;
    height: 200px;
    border-radius: 20px;
    background-color: rgba(20, 112, 231, 0.6);
    padding: 5px;
    padding-bottom: 18px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;
    background-image: url('https://plus.unsplash.com/premium_vector-1697729782149-e53d522cb596?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D' );
}
button{
    background-color: aqua;
    border: 0;
    border-radius: 30px;
    height: 20px;
}
input{
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    border: 0;
    border-radius: 3px;
}
input:hover{
    background-color: rgba(121, 208, 232, 0.6);
}